* {
    margin: 0 !important;
}

body {
    background-color: #9CC5C3;
}

main {
    margin: 15vh;
    /*background-color: #997733;*/
}

h1 {
    margin: 0;
}

.bar {
    padding: 2vh;
    background-color: #ABC7C5;
    box-shadow: 0 0 2vh rgba(0, 0, 0, 0.3);
}